html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* height: 100%; */
	/* overflow: hidden; */
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
}
@font-face {
	font-family: vazir-light;
	src: url(fonts/Vazir-Light.ttf) format("truetype");
}
body {
	background-color: #eceff1;
	font-family: vazir-light;
	height: 1200px;
	width: 100vw;
	max-width: 100%;
	padding-bottom: 4rem;
}
.section-head .container {
	width: 100%;
	/* height: 100vh; */
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-head {
	background: #80deea;
	padding: 24px;
	color: #01739d;
}

.section-main {
	height: 100vh;
	background-color: #eceff1;
	padding: 25px;
	
}
.all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 16px;
	padding: 10px;
}

.box {
	background-color: #fff;
	width: 90%;
	min-height: 800px;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding: 12px;
	box-shadow: 0 0 10px 0px #ccc;
	margin: auto;
	border-radius: 20px;
	padding: 18px;
	padding-top: 10px;
	margin-top: 3rem;
	/* margin-bottom: 4rem; */
}
.input-box {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}
.inp-container{
	display: flex;
	gap: 8px;
}
.inp-container div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-box input[type=number]{
	border: 1px solid #B0BEC5;
	border-radius: 14px;
	padding: 10px;
	font-size: 11px;
	outline-color: #03A9F4;
	padding-left: 10px;
	width: 64px;	
}
a:visited {
	text-decoration: none;
  }
.btn{
	font-family: vazir-light;
	width: 100px;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 10px;
	border: none;
	/* margin-top: 15px; */
	border-radius: 20px;
	background-image: linear-gradient(to top , #03A9F4 , #80deea);
	color: white;
	margin: auto;
	margin-top: 20px;	
	
	display: inline;
}
.box form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 55px;
}
@media screen and (max-width: 900px){
	.box form{
		flex-direction: column;
		gap: 16px;
		padding: unset;
		margin-top: 8px;
	}	
	.box{
		width: unset;
		height: unset;
		padding-top: 24px;
	}
	form .input-box{
		width: 100%;
		padding: unset;
	}
}
a{
	text-decoration: none;
  }
.btn:hover{
	opacity: 0.8;
}  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}