html {
	box-sizing: border-box;
	margin: 0;
	height: 100%;
	/* overflow: hidden; */
}
@font-face {
	font-family: vazir-light;
	src: url(fonts/Vazir-Light.woff) format("woff");
}
body {
	background-color: #F6F8FC;
	font-family: vazir-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	/* height: 100vh; */
    height: 100%;
}
.box{
    width: 50%;
    /* height: 100px; */
    height: 7rem;
    box-shadow: 0 0 14px 0px #ccc;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-image: linear-gradient(to top , #03A9F4 , #0097A7);
}
.text{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: white;
}
.icon{
    max-width: 2rem;
    max-height: 2rem;   
}
.button{
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    margin-top: 2rem;
    
}
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    font-family: vazir-light;
    border-radius: 1rem;
    padding: 5px;
    cursor: pointer; 
    outline: none;
    font-weight: bold;
    margin: 0 1rem;
}
.button a:hover{
    opacity: 80%;
}
.profile-btn{
    border: none;
    background-color: #03A9F4;
    color: white;
    background-image: linear-gradient(to top , #03A9F4 , #0097A7);
}
.dashboard-btn{
    background-color: #FFFFFF;
    color: #0097A7;
    border: 1px solid #0097A7;
    background: transparent;
}
