@font-face {
  font-family: vazir-light;
  src: url(fonts/Vazir-Light.woff) format("woff");
}
body {
  background-color: white;
  font-family: vazir-light;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
/* header styles */
.section-head {
  background: #80deea;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-title {
  padding: 1rem 4rem;
  color: #01739d;
  cursor: default;
}
/* body styles */
.menu {
  background: #e1f5fe;
  height: 100%;
}
.box {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #ffffff;
  margin: 5rem auto;
  width: 50rem;
  height: 25rem;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0px #ccc;
}
.input-form {
  width: 30rem;
  height: 17rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 48% 48%;
  width: 100%;
}
.information-input,
select {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 12px 12px 12px 40px;
  font-size: 16px;
  direction: ltr;
  outline: none;
  width: 50%;
}
#name,
#last-name,
#sport,
#city {
  direction: rtl;
}
#city,
#sport {
  width: 64%;
}
#phone {
  width: 57.5%;
  padding-left: 10px;
}
#username {
  background: url(svg/userProfile.svg) no-repeat scroll 8px 8px;
}
#password {
  background: url(svg/key.svg) no-repeat scroll 8px 8px;
}
#email {
  background: url(svg/sms.svg) no-repeat scroll 8px 8px;
}
.information-input:focus {
  border: 1px solid #0097cf;
}
.input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.box form {
  display: flex;
  /* margin-top: 3rem; */
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.box {
  font-size: 1.2rem;
}
form button {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0097cf;
  width: 20rem;
  color: white;
  font-family: vazir-light;
  cursor: pointer;
}
form button:hover {
  opacity: 0.8;
}
form h2 {
  text-align: center;
}
.error-container {
  margin-bottom: 1rem;
}
.error {
  color: red;
  font-size: 1rem;
  height: 1.5rem;
  font-family: vazir-light;
}
@media only screen and (max-width: 900px) {
  .box {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 4rem;
  }
  .input-form {
    width: 80%;
  }
  .information {
    font-size: 1rem;
  }
  .information-input,
  select {
    padding: 12px 8px 12px 40px;
    font-size: 14px;
    width: 55%;
  }
}
@media only screen and (max-width: 650px) {
  body{
    /* width: 52rem; */
    /* padding-bottom: 5rem; */
  }
  .box {
    width: 90%;
    height: 48rem;
    padding-bottom: 2rem;
  }
  .input-form {
    /* width: 30rem; */
    height: 40rem;
    justify-content: space-between;
    grid-template-columns: 100%;
    width: 90%;
  }
  .information-input {
    padding: 10px 8px 10px 40px;
    font-size: 14px;
    width: 80%;
    margin-bottom: 10px;
  }
  #phone{
    width: 90%;
  }
  #city{
    width: 96%;
  }
  #sport{
    width: 96%;
  }
  .box form {
    margin-top: 1rem;
  }
  .box button{
    width: 15rem;
  }
  .input-box {
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
  }
  form button {
    padding: 2px 10px;
    margin-top: 10px;
  }
}
a:visited {
  text-decoration: none;
}
a {
  text-decoration: none;
}