html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* max-height: 100%; */
}
@font-face {
  font-family: vazir-light;
  src: url(fonts/Vazir-Light.woff) format("woff");
}
/* header styles */
header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 5.25rem;
  /* width: 100%; */
  width: 100vw;
  box-sizing: border-box;
  max-width: 100%;
  color: #01739d;
  padding: 0 6rem;
  align-items: center;
  background-color: #80deea;
}
header a {
  font-size: 1.3rem;
  font-weight: bold;
}
/* body styles */
body {
  /* background-color: black;   */
  background-color: #ECEFF1;
  display: flex;
  margin: auto;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
main {
  height: 27rem;
  width: 45rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #ccc;
  border-radius: 1rem;
}
main h2{
  margin-bottom: 20px;
  /* justify-content: center; */
  /* align-items: center; */
}
form{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 40% 10%;
  /* justify-content: space-around; */
}
.information-inputs{
  /* height: 45%; */
  display: grid;
  grid-template-columns: 11% 35% 5% 11% 35%;
  grid-template-rows: 33% 33% 33%;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.information-inputs input, select{
  /* width: 10rem; */
  /* height: 2rem; */
  /* border-radius: 1rem; */
  border: 1px solid #b0bec5;
  border-radius: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 1rem;
  outline-color: #03a9f4;
  /* padding-left: 30px; */
}
#phonenumber{
  direction: ltr;
}
#email{
  direction: ltr;
}
.trainer-details{
  display: flex;
  flex-direction: column;
  /* height: 45%; */
}
.trainer-details textarea{
  resize: none;
  border-radius: 20px;
  border: 1px solid #b0bec5;
  outline-color: #03a9f4;
  font-size: 1.1rem;
  height: 70%;
  /* height: 1rem; */
  padding: 13px;
  box-sizing: border-box;
  margin-top: 10px;
}
.buttons{
  /* height: 10%; */
  display: flex;
  justify-content: center;
}
.buttons button{
  margin-right: 1rem;
  font-family: vazir-light;
	width: 180px;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to top , #03A9F4 , #80deea);
	color: white;
  font-size: 1rem;
}