@font-face {
	font-family: vazir-light;
	src: url(gym\static\gym\fonts\Vazir-Light.woff) format("woff");
}
html {
	font-family: vazir-light;	
    /* overflow-x:scroll; */
    /* width: 100%; */
    /* height: 100%; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* overflow-y:hidden; */
}
/* header styles */
header{
    background-color: #4C918E;
    /* #357372; */
    /* #f1356d */
    /* #4C918E; */
    height: 6rem;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 0rem 7rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3rem;
}
.header_links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_nav{
    margin: 0 1rem;
}
.profile{
    background-color: #fff;
    color: #357372;
    padding: 0.5rem 2rem;
    /* border: 1px solid rgb(79, 78, 78); */
    border-radius: 0.75rem;
	box-shadow: 0px 0px 5px 1px #595c5b;
}
.profile:hover{
    opacity: 0.9;
    color: #357372;
    /* background-color: #f1356d; */
}
header a:hover{
    cursor: pointer;
    color: #e9e7e7;
}
/* body style */
body{
    background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    /* height: 100%; */
    max-width: 100%;
    /* max-height: 100%; */
    /* overflow-y: hidden; */
    /* overflow-x:auto; */
    /* overflow-y:hidden; */

    /* box-sizing: border-box; */
}
.content{
    width: 80vw;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F8FC;
    box-sizing: border-box;
    margin: 2rem 0;
    padding: 2rem;
    border: 1px solid #99cdca;
    border-radius: 10px;
	box-shadow: 0px 0px 2px 0px #c3c2c2;

}
.article img{
    max-width: 15rem;
    margin: 0 2rem 0 1rem;
	box-shadow: 0px 0px 5px 1px #727070;
    /* border: 1px solid #595c5b; */
}
.article a{
    color: #EF3F3E;
    font-weight: bold;
    font-size: 1rem;
}
.article a:hover{
    color: #be1414;
    /* font-weight: 4?00; */
}
.article-link{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: ; */
    /* margin: auto; */
}



/* footer */
footer{
    height: 8rem;
    width: 100vw;
    margin-top: 5rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ef3e3e6d;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
