<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <title>ورود</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/login_style.css' %}" />
</head>

<body>
    <header class="section-head">
        <div>
            <h2 class="section-title">ورزش‌یار</h2>
        </div>
    </header>
    <main class="menu">
        <div class="box">
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <h2>ورود</h2>
                <div class="input-box">
                    <img src="{% static 'registration/svg/user.svg' %}" alt="user icon" />
                    <label class="information" for="username">نام کاربری</label>
                    <input class="information-input" type="text" name="username" id="username" required />
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-box">
                    <img src="{% static 'registration/svg/key.svg' %}" alt="user icon" />
                    <label class="information" for="password">رمز عبور</label>
                    <input class="information-input" type="password" name="password" id="password" required />
                    {% if form.password.errors %}
                        <div class="error">{{ form.password.errors }}</div>
                    {% endif %}
                </div>
                <div class="buttons">
                    <button>ورود</button>
                    <button class="register-button">
                        <a href="{% url 'accounts:register' %}">ثبت‌نام</a>
                    </button>
                </div>
            </form>

                {% if form.non_field_errors %}
                    <div class="errors">
                        <ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
        </div>
    </main>
</body>
</html>
