<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>پروفایل‌من</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/registration/profile.css' %}" />
  </head>
  <body>
    <header class="section-head">
      <div class="container">
        <h2 class="section-title">ورزشیار</h2>
        <img
          src="{% static '..\static\regitration\svg\userProfile.svg' %}"
          alt="user icon"
          class="icon"
        />
      </div>
    </header>
    <main class="section-main">
      <div class="box">
        <h2>افزودن اطلاعات شخصی</h2>
        <form method="post" action="">
          {% csrf_token %}
          <div class="input-box">
            <label for="firstname">نام:</label>
            <img
              class="input-icon"
              src="{% static '..\static\regitration\svg\user.svg' %}"
              alt="user icon"
            />
            <input type="text" name="first_name" id="firstname" />
          </div>
          <div class="input-box">
            <label for="lastname">نام خانوادگی:</label>
            <img
              class="input-icon"
              src="{% static '..\static\regitration\svg\user.svg' %}"
              alt="user icon"
            />
            <input type="text" name="last_name" id="lastname" />
          </div>
          <div class="input-box">
            <label for="phone-number">شماره تلفن:</label>
            <img
              class="input-icon"
              src="{% static '..\static\regitration\svg\phone.svg' %}"
              alt="phone icon"
            />
            <input type="tel" name="phone_number" id="phone-number" />
          </div>
          <div class="input-box">
            <label for="email">ایمیل:</label>
            <img
              class="input-icon"
              src="{% static '..\static\regitration\svg\email.svg' %}"
              alt=""
            />
            <input type="email" name="email" id="email" />
          </div>
          <div class="input-box">
            <label for="password">رمزعبور:</label>
            <img
              class="input-icon"
              src="{% static '..\static\regitration\svg\password.svg' %}"
              alt=""
            />
            <input type="password" name="password" id="password" />
          </div>
          <div class="input-box">
            <label for="birth-date">تاریخ تولد:</label>
            <input type="date" name="birth_date" id="birth-date" />
          </div>
          <div class="input-box">
            <label>جنسیت:</label>
            <div class="radio-options">
              <div class="radio-option">
                <label for="male">مرد</label>
                <input type="radio" name="sex" id="male" />
              </div>
              <div class="radio-option">
                <label for="female">زن</label>
                <input type="radio" name="sex" id="female" />
              </div>
            </div>
          </div>
          <div class="input-box">
            <label>وضعیت تاهل:</label>
            <div class="radio-options">
              <div class="radio-option">
                <label for="single">مجرد</label>
                <input type="radio" name="marital_status" id="single" />
              </div>
              <div class="radio-option">
                <label for="married">متاهل</label>
                <input type="radio" name="marital_status" id="married" />
              </div>
            </div>
          </div>
          <a class="btn" href="{% url 'accounts:physical-information' %}">مرحله بعد</a>
        </form>
      </div>
    </main>
  </body>
</html>
