<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ثبت‌نام</title>
  {% load static %}
  <link rel="icon" href="{% static 'gym\svg\strength.png' %}">
  <link rel="stylesheet" href="{% static 'registration/register.css' %}" />
</head>

<body>
  <header class="section-head">
    <div class="container">
      <h2 class="section-title">ورزش‌یار</h2>
    </div>
  </header>
  <main class="menu">
    <div class="box">
      <form method="post">
        {% csrf_token %}
        <div class="input-form">
          <div class="input-box">
            <label class="information" for="username">نام کاربری</label>
            <input class="information-input" type="text" name="username" id="username" required />
          </div>
          <div class="input-box">
            <label class="information" for="email">ایمیل</label>
            <input class="information-input" type="email" name="email" id="email" required />
          </div>
          <div class="input-box">
            <label class="information" for="password1">رمز عبور</label>
            <input class="information-input" type="password" name="password1" id="password" required />
          </div>
          <div class="input-box">
            <label class="information" for="password2">تایید رمز عبور</label>
            <input class="information-input" type="password" name="password2" id="password" required />
          </div>
          <button>ثبت‌نام</button>
          <a href="{% url 'gym:home' %}"> بازگشت</a>
        </div>

      </form>
      <!-- <div class="error-container"> -->
        {% if form.username.errors %}
        <span class="error">{{ form.username.errors }}</span>
        {% endif %}
        {% if form.email.errors %}
        <span class="error">{{ form.email.errors }}</span>
        {% endif %}
        {% if form.password1.errors %}
        <span class="error">{{ form.password1.errors }}</span>
        {% endif %}
        {% if form.password2.errors %}
        <span class="error">{{ form.password2.errors }}</span>
        {% endif %}

    </div>

  </main>
</body>

</html>