<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>برنامه‌ورزشی</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'registration/sports-program.css' %}"
    />
  </head>
  <body>
    <header class="section-head">
      <div class="container">
        <h2 class="section-title">ورزش‌یار</h2>
      </div>
    </header>
    <main class="section-main">
      <div class="box">
        <h2>برنامه‌ی‌ورزشی</h2>
        <form action="post">
			{% csrf_token %}
          <div class="all">
            <div class="input-box">
              <label for="squat">اسکوات جفت دمبل:</label>
              <div class="inp-container">
                <div>
                  <label for="squat-repeat">تکرار</label>
                  <input type="number" name="" id="squat-repeat" />
                </div>
                <div>
                  <label for="squat-repeat">ست</label>
                  <input type="number" name="" id="squat-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="frontleg">جلو ران دستگاه:</label>
              <div class="inp-container">
                <div>
                  <label for="frontleg-repeat">تکرار</label>
                  <input type="number" name="" id="frontleg-repeat" />
                </div>
                <div>
                  <label for="frontleg-repeat">ست</label>
                  <input type="number" name="" id="frontleg-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="thigh">خارج ران سیمکش:</label>
              <div class="inp-container">
                <div>
                  <label for="thigh-repeat">تکرار</label>
                  <input type="number" name="" id="thigh-repeat" />
                </div>
                <div>
                  <label for="thigh-repeat">ست</label>
                  <input type="number" name="" id="thigh-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="thigh">داخل ران سیمکش:</label>
              <div class="inp-container">
                <div>
                  <label for="thigh-repeat">تکرار</label>
                  <input type="number" name="" id="thigh-repeat" />
                </div>
                <div>
                  <label for="thigh-repeat">ست</label>
                  <input type="number" name="" id="thigh-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="hiptrust">هیپ تراست نشسته:</label>
              <div class="inp-container">
                <div>
                  <label for="hiptrust-repeat">تکرار</label>
                  <input type="number" name="" id="hiptrust-repeat" />
                </div>
                <div>
                  <label for="hiptrust-repeat">ست</label>
                  <input type="number" name="" id="hiptrust-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="leg">ساق پا ایستاده:</label>
              <div class="inp-container">
                <div>
                  <label for="leg-repeat">تکرار</label>
                  <input type="number" name="" id="leg-repeat" />
                </div>
                <div>
                  <label for="leg-repeat">ست</label>
                  <input type="number" name="" id="leg-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="backtigh">پشت ران سیمکش:</label>
              <div class="inp-container">
                <div>
                  <label for="backtigh-repeat">تکرار</label>
                  <input type="number" name="" id="backtigh-repeat" />
                </div>
                <div>
                  <label for="backtigh-repeat">ست</label>
                  <input type="number" name="" id="backtigh-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="kickback">کیک بک دمبل آزاد:</label>
              <div class="inp-container">
                <div>
                  <label for="kickback-repeat">تکرار</label>
                  <input type="number" name="" id="kickback-repeat" />
                </div>
                <div>
                  <label for="kickback-repeat">ست</label>
                  <input type="number" name="" id="kickback-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="height">سلام ژاپنی روی ارتفاع:</label>
              <div class="inp-container">
                <div>
                  <label for="height-repeat">تکرار</label>
                  <input type="number" name="" id="height-repeat" />
                </div>
                <div>
                  <label for="height-repeat">ست</label>
                  <input type="number" name="" id="height-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="fly">فلای دستگاه:</label>
              <div class="inp-container">
                <div>
                  <label for="fly-repeat">تکرار</label>
                  <input type="number" name="" id="fly-repeat" />
                </div>
                <div>
                  <label for="fly-repeat">ست</label>
                  <input type="number" name="" id="fly-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="upperchest">بالا سینه هالتر دو ضرب:</label>
              <div class="inp-container">
                <div>
                  <label for="upperchest-repeat">تکرار</label>
                  <input type="number" name="" id="upperchest-repeat" />
                </div>
                <div>
                  <label for="upperchest-repeat">ست</label>
                  <input type="number" name="" id="upperchest-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="chest1">قفسه سینه تک دست:</label>
              <div class="inp-container">
                <div>
                  <label for="chest1-repeat">تکرار</label>
                  <input type="number" name="" id="chest1-repeat" />
                </div>
                <div>
                  <label for="chest1-repeat">ست</label>
                  <input type="number" name="" id="chest1-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="crossover">کراس اور:</label>
              <div class="inp-container">
                <div>
                  <label for="crossover-repeat">تکرار</label>
                  <input type="number" name="" id="crossover-repeat" />
                </div>
                <div>
                  <label for="crossover-repeat">ست</label>
                  <input type="number" name="" id="crossover-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="chest2">سینه نظامی روی بالا سینه:</label>
              <div class="inp-container">
                <div>
                  <label for="chest2-repeat">تکرار</label>
                  <input type="number" name="" id="chest2-repeat" />
                </div>
                <div>
                  <label for="chest2-repeat">ست</label>
                  <input type="number" name="" id="chest2-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="arm1">پشت بازو سیمکش:</label>
              <div class="inp-container">
                <div>
                  <label for="arm1-repeat">تکرار</label>
                  <input type="number" name="" id="arm1-repeat" />
                </div>
                <div>
                  <label for="arm1-repeat">ست</label>
                  <input type="number" name="" id="arm1-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="arm2">پشت بازو فرانسوی:</label>
              <div class="inp-container">
                <div>
                  <label for="arm2-repeat">تکرار</label>
                  <input type="number" name="" id="arm2-repeat" />
                </div>
                <div>
                  <label for="arm2-repeat">ست</label>
                  <input type="number" name="" id="arm2-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="shoulder">سرشان دمبل تک دست:</label>
              <div class="inp-container">
                <div>
                  <label for="shoulder-repeat">تکرار</label>
                  <input type="number" name="" id="shoulder-repeat" />
                </div>
                <div>
                  <label for="shoulder-repeat">ست</label>
                  <input type="number" name="" id="shoulder-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="shoulderfullbody">سرشان هالتر فول بادی:</label>
              <div class="inp-container">
                <div>
                  <label for="shoulderfullbody-repeat">تکرار</label>
                  <input type="number" name="" id="shoulderfullbody-repeat" />
                </div>
                <div>
                  <label for="shoulderfullbody-repeat">ست</label>
                  <input type="number" name="" id="shoulderfullbody-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="bend">نشرخم دو جانبه:</label>
              <div class="inp-container">
                <div>
                  <label for="bend-repeat">تکرار</label>
                  <input type="number" name="" id="bend-repeat" />
                </div>
                <div>
                  <label for="bend-repeat">ست</label>
                  <input type="number" name="" id="bend-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="boat">قایقی دست باز:</label>
              <div class="inp-container">
                <div>
                  <label for="boat-repeat">تکرار</label>
                  <input type="number" name="" id="boat-repeat" />
                </div>
                <div>
                  <label for="boat-repeat">ست</label>
                  <input type="number" name="" id="boat-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="pullface">پول فیس:</label>
              <div class="inp-container">
                <div>
                  <label for="pullface-repeat">تکرار</label>
                  <input type="number" name="" id="pullface-repeat" />
                </div>
                <div>
                  <label for="pullface-repeat">ست</label>
                  <input type="number" name="" id="pullface-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="flyback">فلای بک:</label>
              <div class="inp-container">
                <div>
                  <label for="flyback-repeat">تکرار</label>
                  <input type="number" name="" id="flyback-repeat" />
                </div>
                <div>
                  <label for="flyback-repeat">ست</label>
                  <input type="number" name="" id="flyback-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="plunk">پلانک:</label>
              <div class="inp-container">
                <div>
                  <label for="plunk-repeat">تکرار</label>
                  <input type="number" name="" id="plunk-repeat" />
                </div>
                <div>
                  <label for="plunk-repeat">ست</label>
                  <input type="number" name="" id="plunk-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="russianrot">چرخش روسی:</label>
              <div class="inp-container">
                <div>
                  <label for="russianrot-repeat">تکرار</label>
                  <input type="number" name="" id="russianrot-repeat" />
                </div>
                <div>
                  <label for="russianrot-repeat">ست</label>
                  <input type="number" name="" id="russianrot-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="crunch">کرانچ:</label>
              <div class="inp-container">
                <div>
                  <label for="crunch-repeat">تکرار</label>
                  <input type="number" name="" id="crunch-repeat" />
                </div>
                <div>
                  <label for="crunch-repeat">ست</label>
                  <input type="number" name="" id="crunch-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="brllyroll">شکم رول:</label>
              <div class="inp-container">
                <div>
                  <label for="brllyroll-repeat">تکرار</label>
                  <input type="number" name="" id="bellyroll-repeat" />
                </div>
                <div>
                  <label for="brllyroll-repeat">ست</label>
                  <input type="number" name="" id="bellyroll-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="flank">پهلو روسی:</label>
              <div class="inp-container">
                <div>
                  <label for="flank-repeat">تکرار</label>
                  <input type="number" name="" id="flank-repeat" />
                </div>
                <div>
                  <label for="flank-repeat">ست</label>
                  <input type="number" name="" id="flank-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="mountainsto">کوهنوردی:</label>
              <div class="inp-container">
                <div>
                  <label for="mountainsto-repeat">تکرار</label>
                  <input type="number" name="" id="mountainsto-repeat" />
                </div>
                <div>
                  <label for="mountainsto-repeat">ست</label>
                  <input type="number" name="" id="mountainsto-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="parallel">زیرشکم پارالل:</label>
              <div class="inp-container">
                <div>
                  <label for="parallel-repeat">تکرار</label>
                  <input type="number" name="" id="parallel-repeat" />
                </div>
                <div>
                  <label for="parallel-repeat">ست</label>
                  <input type="number" name="" id="parallel-set" />
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="The abdomen">زیرشکم 90درجه:</label>
              <div class="inp-container">
                <div>
                  <label for="The abdomen-repeat">تکرار</label>
                  <input type="number" name="" id="The abdomen-repeat" />
                </div>
                <div>
                  <label for="The abdomen-repeat">ست</label>
                  <input type="number" name="" id="The abdomen-set" />
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn">ثبت</button>
			<a class="btn" href="{% url 'accounts:profile' %}">بازگشت</a>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
