<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Succesful Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/succesful.css' %}" />
  </head>
  <body>
    <div class="box">
      <p class="text">ثبت نام با موفقیت انجام شد</p>
      <img
        class="icon"
        src="accounts\static\regitration\svg\check.svg"
        alt="check-icon"
      />
    </div>
    <div class="button">
      <a class="btn" href="#">مشاهده پروفایل</a>
      <a class="btn1" href="{% url 'gym:home' %}">مشاهده داشبورد</a>
    </div>
  </body>
</html>
