@font-face {
	font-family: vazir-light;
	src: url(fonts/Vazir-Light.woff) format("woff");
}
body {
	background-color: white;
	font-family: vazir-light;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
/* header styles */
.section-head {
	background: #80deea;
	height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section-title {
	padding: 1rem 4rem;
	cursor: default;
}
/* body styles */
.menu {
	background: #e1f5fe;
	height: 100%;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: 5rem auto;
	width: 30vw;
	height: 50vh;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px 0px #ccc;
}
.information-input {
	border: 1px solid #ccc;
	border-radius: 1rem;
	padding: 12px 12px 12px 38px;
	font-size: 16px;
	direction: ltr;
	outline: none;
	width: 60%;
}
.information-input:focus {
	border: 1px solid #0097cf;
}
.input-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.input-box img{
	position: absolute;
	left: 10px;
	width: 20px;
	height: 20px;
}
.box form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.box{
	font-size: 1.2rem;
}
form button {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #0097cf;
	color: white;
	font-family: vazir-light;
	cursor: pointer;
}
form button:hover{
	opacity: 0.8;
}
form h2{
	text-align: center;
}
.errors{
	color: red;
	font-family: vazir-light;
}