<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>باشگاه‌ها</title>
    {% load static %}
    <link rel="icon" href="{% static 'gym/svg/strength.png' %}">
    <link rel="stylesheet" href="{% static 'gym/gyms.css' %}">
    <script src="{% static 'gym/gyms.js' %}"></script>
</head>

<header class="sticky">

    <span class="header">

        <div id="logo">
            <h2>ورزش‌یار</h2>
        </div>
        <div class="header_links">
            <div>
                <a class="header_nav" href="{% url 'gym:home' %}">صفحه اصلی</a>
                <a class="header_nav" href="{% url 'gym:gyms' %}">باشگاه ها</a>
                <a class="header_nav" href="{% url 'gym:trainers' %}">مربی ها</a>
                <a class="header_nav" href="{% url 'gym:exc-list' %}">حرکات ورزشی</a>
            </div>
            <div>
                {% if user.is_authenticated %} {{ user.username }} عزیز، خوش آمدید!
                <a class="header_nav profile" href="{% url 'accounts:profile' %}">پروفایل</a>
                {% else %}
                <a class="header_nav profile" href="{% url 'accounts:trainer-login' %}">پنل مربیان</a>
                <a class="header_nav profile" href="{% url 'accounts:athlete-login' %}">پنل ورزشکاران</a>
                {% endif %}
            </div>
        </div>
    </span>

    <div class="mobile-header">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">ورزش‌یار</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'gym:home' %}">صفحه اصلی</a>
                <a href="{% url 'gym:gyms' %}">باشگاه ها</a>
                <a href="{% url 'gym:trainers' %}">مربی ها</a>
                <a href="{% url 'gym:exc-list' %}">حرکات ورزشی</a>
                {% if user.is_authenticated %} <!--{{ user.username }} عزیز، خوش آمدید! -->
                <a class="header_nav " href="{% url 'accounts:profile' %}">پروفایل</a>
                {% else %}
                <a class="header_nav" href="{% url 'accounts:trainer-login' %}">پنل مربیان</a>
                <a class="header_nav" href="{% url 'accounts:athlete-login' %}">پنل ورزشکاران</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<body>
    <main>
        <div class="title">
            <h2>باشگاه‌ها</h2>
            <p>لیست باشگاه‌های ورزش‌یار</p>
        </div>
        <hr>
        <section class="gym-informations">
            <div id="filter">
                <h4>جنسیت</h4>
                <button class="btn" onclick="filterSelection('all')">همه</button>
                <button class="btn" onclick="filterSelection('female')">زن</button>
                <button class="btn" onclick="filterSelection('males')">مرد</button>
            </div>
            <div class="container">
                <div class="filterDiv males">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym7.jpg' %}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym7.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>باشگاه بدنسازی ریکاوری </h3>
                            <h4>قیمت: ۳۵۰,۰۰۰ تومان</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png' %}">
                                <p>تهران، میدان رسالت</p>
                            </span>
                            <button class="display-info" onclick="displayInformation(0)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/man.png' %}">
                                <p>شنبه تا چهارشنبه ۱۷:۳۰ الی ۲۳:۰۰</p>
                            </span>
                            <p class="phone-number">021-7709745</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv female">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym6.jpg' %}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym6.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>باشگاه بدنسازی الیت </h3>
                            <h4>قیمت: از ۳۰۰,۰۰۰ تومان</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png' %}">
                                <p>اصفهان، پاسداران </p>
                            </span>
                            <button class="display-info" onclick="displayInformation(1)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/woman.png' %}">
                                <p>شنبه تا پنجشنبه ۷:۰۰ الی ۲۳:۰۰
                                </p>
                            </span>
                            <p class=" phone-number">031-4597658</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv female">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym3.jpg' %}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym3.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>سالن ایروبیک و بدنسازی نیلوفرانه</h3>
                            <h4>قیمت: متغیر</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png' %}">
                                <p>تهران، یادگار امام، خیابان فرحزاد </p>
                            </span>
                            <button class="display-info" onclick="displayInformation(2)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/woman.png' %}">
                                <p>شنبه تا پنجشنبه ۷:۰۰ الی ۲۳:۰۰
                                </p>
                            </span>
                            <p class=" phone-number">021-22379612</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv female">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym2.jpg' %}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym2.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>باشگاه بدنسازی اکسیژن</h3>
                            <h4>قیمت: ۱,۰۰۰,۰۰۰ تومان </h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png'%}">
                                <p>کرج، مهرشهر، مجتمع کاریزما</p>
                            </span>
                            <button class="display-info" onclick="displayInformation(3)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/woman.png'%}">
                                <p>شنبه تا چهارشنبه ۷:۰۰ الی ۲۳:۰۰
                                </p>
                            </span>
                            <p class=" phone-number">021-77097658</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv males">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym5.jpg'%}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym5.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>باشگاه بدنسازی سپیدار </h3>
                            <h4>قیمت: ۵۵۰,۰۰۰ تومان</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png'%}">
                                <p>تهران، فلکه دوم صادقیه، ابتدای کاشانی</p>
                            </span>
                            <button class="display-info" onclick="displayInformation(4)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/man.png'%}">
                                <p>شنبه تا چهارشنبه ۱۵:۰۰ الی ۲۰:۰۰</p>
                            </span>
                            <p class="phone-number">021-77097658</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv males">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym4.jpg'%}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym4.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>باشگاه ورزشی سینرجیم</h3>
                            <h4>قیمت: ۳۵۰,۰۰۰ تومان</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png'%}">
                                <p>تهران، شریعتی، تقاطع سرافراز و یاسمن</p>
                            </span>
                            <button class="display-info" onclick="displayInformation(5)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/man.png'%}">
                                <p>شنبه تا چهارشنبه ۱۷:۳۰ الی ۲۳:۰۰</p>
                            </span>
                            <p class="phone-number">021-77097658</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv female">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym1.jpg'%}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym1.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>باشگاه خصوصی سهند</h3>
                            <h4>قیمت: ۷۵۰,۰۰۰ تومان</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png'%}">
                                <p>تهران، سعادت آباد، میدان شهرداری</p>
                            </span>
                            <button class="display-info" onclick="displayInformation(6)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/woman.png'%}">
                                <p>یکشنبه تا چهارشنبه ۷:۰۰ الی ۲۳:۰۰
                                </p>
                            </span>
                            <p class=" phone-number">021-77097658</p>
                        </div>
                    </span>
                </div>
                <div class="filterDiv males">
                    <span class="info">
                        <img class="gym-img" src="{% static 'gym/svg/gym8.jpg'%}">
                        <div class="gym-img-container" style="background-image: url(../../static/gym/svg/gym8.jpg);">
                        </div>
                        <div class="gym-details">
                            <h3>سالن بسکتبال چیتگر </h3>
                            <h4>قیمت: ۵۰۰,۰۰۰ تومان</h4>
                            <span>
                                <img class="location-icon" src="{% static 'gym/svg/location.png'%}">
                                <p>تهران، چیتگر </p>
                            </span>
                            <button class="display-info" onclick="displayInformation(7)">اطلاعات تماس</button>
                            <span>
                                <img class="icon" src="{% static 'gym/svg/man.png'%}">
                                <p>شنبه تا پنجشنبه ۷:۰۰ الی ۲۳:۰۰
                                </p>
                            </span>
                            <p class=" phone-number">021-77097658</p>
                        </div>
                    </span>
                </div>
            </div>
        </section>
    </main>
</body>
<footer>
    <h4>ارتباط با ما</h4>
    <h4>پشتیبانی</h4>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
</footer>

</html>