<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ورزش‌یار</title>
  {% load static %}
  <link rel="icon" href="strength.png">
  <link rel="stylesheet" href="../../static/gym/home.css">
</head>

<header class="sticky">

  <div class="header_links">
    <div>
      <a class="header_nav" href="">صفحه اصلی</a>
      <a class="header_nav" href="{% url 'gym:gyms' %}">باشگاه ها</a>
      <a class="header_nav" href="{% url 'gym:trainers' %}">مربی ها</a>
    </div>
    <div>
      {% if user.is_authenticated %} {{ user.username }} عزیز، خوش آمدید!
        <a class="header_nav profile" href="{% url 'accounts:profile' %}">پروفایل‌ من</a>
        <a class="header_nav profile" href="{% url 'accounts:logout' %}">خروج</a>
      {% else %}
        <a class="header_nav profile" href="{% url 'accounts:login' %}">ورود</a>
        <a class="header_nav profile" href="{% url 'accounts:register' %}">ثبت نام</a>
      {% endif %}
    </div>
  </div>
</header>

<body>
  <div class="gym-title curved">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#80DEEA" fill-opacity="1"
        d="M0,96L60,80C120,64,240,32,360,53.3C480,75,600,149,720,202.7C840,256,960,288,1080,250.7C1200,213
        ,1320,107,1380,53.3L1440,0L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
      </path>
    </svg>
    <div class="logo-design">
      <img src="../../static/gym/svg/work-out.png">
      <div>

        <h1>ورزشیار</h1>
        <h5> شعار شعار لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
      </div>
    </div>
  </div>
  <main class="content">
    <div class="article">
      <span>
        <h2>نقش بهداشت در سلامتی</h2>
        <hr>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
          از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
          لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
          کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
          افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها،
          و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
          سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
        <div class="article-link">
          <a href="article1.html">ادامه مطلب</a>
        </div>
      </span>
      <span>
        <img src="../../static/gym/svg/gym.jpg">
      </span>
    </div>
    <div class="article">
      <span>
        <h2>نقش رژیم غذایی بر سلامتی</h2>
        <hr>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
          از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
          لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
          کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
          افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها،
          و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
          سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
        <div class="article-link">
          <a href="">ادامه مطلب</a>
        </div>
      </span>
      <span>
        <img src="../../static/gym/svg/diet.png">
      </span>
    </div>
    <div class="article">
      <span>
        <h2>بهبود تاثیر حرکات ورزشی</h2>
        <hr>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
          از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
          لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
          کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
          افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها،
          و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
          سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
        <div class="article-link">
          <a href="">ادامه مطلب</a>
        </div>
      </span>
      <span>
        <img src="../../static/gym/svg/work-out.png">
      </span>
    </div>
  </main>
</body>
<footer>
  <h4>ارتباط با ما</h4>
  <h4>پشتیبانی</h4>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
</footer>

</html>