<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>مربی‌ها</title>
  {% load static %}
  <link rel="icon" href="strength.png">
  <link rel="stylesheet" href="{% static 'gym\trainers.css' %}">
</head>

<header class="sticky">
  <div id="logo">
    <h2>ورزش‌یار</h2>
  </div>
  <div class="header_links">
    <div>
      <a class="header_nav" href="../home.html">صفحه اصلی</a>
      <a class="header_nav" href="">باشگاه ها</a>
      <a class="header_nav" href="">مربی ها</a>
    </div>
    <div>
      <a class="header_nav profile" href="">پروفایل</a>
    </div>
  </div>
</header>

<body>
  <main class="content">
    <div class="title">
      <h2>مربی‌ها</h2>
      <p>لیست مربی‌های ورزش‌یار </p>
    </div>
    <hr>
    <section class="trainers-informations">
      <div class="filter">
        <!-- <h3>جنسیت</h3>
        <div>
          <input type="checkbox" id="sex1" name="sex1" value="male">
          <label for="skill1">مرد</label>
          <input type="checkbox" id="sex2" name="sex2" value="female">
          <label for="skill2">زن</label>
        </div> -->
        <h3>رشته ورزشی</h3>
        <div>
          <input type="checkbox" id="skill1" name="skill1" value="Bike">
          <label for="skill1">یوگا</label>
          <input type="checkbox" id="skill2" name="skill2" value="Car">
          <label for="skill2">بدنسازی</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">شنا</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">پیلاتس</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">TRX</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">رزمی</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">والبیال</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">بسکتبال</label>
          <input type="checkbox" id="skill3" name="skill3" value="Boat">
          <label for="skill3">ایروبیک</label>
        </div>
      </div>
      <div class="trainers-list">

        <span class="trainer-description">
          <div>
            <div class="trainer-name">
              <img src="profile2.png">
              <h3 class="trainer-name">محدثه عبدی</h3>
            </div>
            <div class="trainer-bio">
              <span>
                <h4>رشته‌های ورزشی: </h4>
                <h4>یوگا</h4>
              </span>
              <span>
                <h4>استان: </h4>
                <h4>تهران</h4>
              </span>
              <span>
                <h4>توضیحات:</h4>
                <p>مربی بین‌المللی وینیاسایوگا، مربی یوگا، مربی تی ارایکس، حرکات انعطافی و قدرتی</p>
              </span>
            </div>
          </div>
          <div class="program">
            <button>دریافت برنامه</button>
          </div>
        </span>
      </div>
    </section>
  </main>
</body>
<footer>
  <h4>ارتباط با ما</h4>
  <h4>پشتیبانی</h4>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
</footer>

</html>