<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>مربی‌ها</title>
  {% load static %}
  <link rel="icon" href="{% static 'gym/svg/strength.png' %}">
  <link rel="stylesheet" href="{% static 'gym/trainers.css' %}">
  <script src="{% static 'gym/myscripts.js' %}"></script>
</head>

<header class="sticky">

  <span class="header">

    <div id="logo">
      <h2>ورزش‌یار</h2>
    </div>
    <div class="header_links">
      <div>
        <a class="header_nav" href="{% url 'gym:home' %}">صفحه اصلی</a>
        <a class="header_nav" href="{% url 'gym:gyms' %}">باشگاه ها</a>
        <a class="header_nav" href="{% url 'gym:trainers' %}">مربی ها</a>
        <a class="header_nav" href="{% url 'gym:exc-list' %}">حرکات ورزشی</a>
      </div>
      <div>
        {% if user.is_authenticated %} {{ user.username }} عزیز، خوش آمدید!
        <a class="header_nav profile" href="{% url 'accounts:profile' %}">پروفایل</a>
        {% else %}
        <a class="header_nav profile" href="{% url 'accounts:trainer-login' %}">پنل مربیان</a>
        <a class="header_nav profile" href="{% url 'accounts:athlete-login' %}">پنل ورزشکاران</a>
        {% endif %}
      </div>
    </div>
  </span>

  <div class="mobile-header">
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">ورزش‌یار</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{% url 'gym:home' %}">صفحه اصلی</a>
        <a href="{% url 'gym:gyms' %}">باشگاه ها</a>
        <a href="{% url 'gym:trainers' %}">مربی ها</a>
        <a href="">حرکات ورزشی</a>
        {% if user.is_authenticated %} <!--{{ user.username }} عزیز، خوش آمدید! -->
        <a class="header_nav " href="{% url 'accounts:profile' %}">پروفایل</a>
        {% else %}
        <a class="header_nav" href="{% url 'accounts:trainer-login' %}">پنل مربیان</a>
        <a class="header_nav" href="{% url 'accounts:athlete-login' %}">پنل ورزشکاران</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>


<body>
  <main class="content">
    <div class="title">
      <h2>مربی‌ها</h2>
      <p>لیست مربی‌های ورزش‌یار </p>
    </div>
    <hr>
    <section class="trainers-informations">
      <div id="filter">
        <h4>رشته ورزشی</h4>
        <button class="btn" onclick="filterSelection('all')">همه</button>
        <button class="btn" onclick="filterSelection('bodybuilding')">بدنسازی</button>
        <button class="btn" onclick="filterSelection('martial')">رزمی</button>
        <button class="btn" onclick="filterSelection('team')">گروهی</button>
        <button class="btn" onclick="filterSelection('movement')">حرکتی</button>
      </div>
      <section class="trainers">
        <div class="filterDiv movement">
          <span class="trainer-name">
            <img src="../../static/gym/svg/profile2.png">
            <span>
              <h2>محدثه عبدی</h2>
              <h4>رشته‌های ورزشی: یوگا</h4>
              <h4>استان: تهران</h4>
            </span>
          </span>
          <li>مربی بین‌المللی وینیاسایوگا، مربی یوگا، حرکات انعطافی و قدرتی</li>
          <li>دارای تجربه مربیگری کلاس‌های آنلاین</li>
          <span class="info-btn"><button class="display-info" onclick="display_contact_info(0)">اطلاعات
              تماس</button></span>
          <p class="contact-info">09122134044</p>
        </div>
        <div class="filterDiv bodybuilding">
          <span class="trainer-name">
            <img src="../../static/gym/svg/profile1.png">
            <span>
              <h2>داود جلیل پور</h2>
              <h4>رشته‌های ورزشی: بدنسازی</h4>
              <h4>استان: تهران</h4>
            </span>
          </span>
          <li>مربی دوومیدانی و درجه 3 بدنسازی فوتبال در تهران</li>
          <li>مربی فیتنس، TRX، بدنسازی</li>
          <span class="info-btn"><button class="display-info" onclick="display_contact_info(1)">اطلاعات
              تماس</button></span>
          <p class="contact-info">09303318088</p>
        </div>
        <div class="filterDiv bodybuilding">
          <span class="trainer-name">
            <img src="../../static/gym/svg/profile4.jpg">
            <span>
              <h2>آیسودا اسفندیاری</h2>
              <h4>رشته‌های ورزشی: بدنسازی، تی آرایکس، فیتنس</h4>
              <h4>استان: اصفهان</h4>
            </span>
          </span>
          <li>دانشجوی ارشد تربیت بدنی در ایتالیا</li>
          <li>مربی فیتنس، TRX، بدنسازی</li>
          <span class="info-btn"><button class="display-info" onclick="display_contact_info(2)">اطلاعات
              تماس</button></span>
          <p class="contact-info">09124309982</p>
        </div>
        <div class="filterDiv martial">
          <span class="trainer-name">
            <img src="../../static/gym/svg/profile3.png">
            <span>
              <h2>حسین مشرفی</h2>
              <h4>رشته‌های ورزشی: کاراته</h4>
              <h4>استان: تهران</h4>
            </span>
          </span>
          <li>مدرک مربی‌گری درجه 3 کاراته</li>
          <li>دارای 10 سال سابقه مربیگری در رشته‌های مذکور</li>
          <span class="info-btn"><button class="display-info" onclick="display_contact_info(3)">اطلاعات
              تماس</button></span>
          <p class="contact-info">09918190912</p>
        </div>
        <div class="filterDiv team">
          <span class="trainer-name">
            <img src="../../static/gym/svg/profile5.jpeg">
            <span>
              <h2>احمد نعیمی</h2>
              <h4>رشته‌های ورزشی: والیبال</h4>
              <h4>استان: تهران</h4>
            </span>
          </span>
          <li>مربی اسبق تیم ملی نوجوانان</li>
          <li>مدرک بین‌المللی سطح 2 والیبال</li>
          <span class="info-btn"><button class="display-info" onclick="display_contact_info(4)">اطلاعات
              تماس</button></span>
          <p class="contact-info">09218915545</p>
        </div>
      </section>
    </section>
  </main>
</body>
<footer>
  <h4>ارتباط با ما</h4>
  <h4>پشتیبانی</h4>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
</footer>

</html>