<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>مربی‌ها</title>
  {% load static %}
  <link rel="icon" href="{% static 'gym/svg/strength.png' %}">
  <link rel="stylesheet" href="{% static 'gym/trainers.css' %}">
  <script src="{% static 'gym/myscripts.js' %}"></script>
</head>

<header class="sticky">
  <div id="logo">
    <h2>ورزش‌یار</h2>
  </div>
  <div class="header_links">
    <div>
      <a class="header_nav" href="home.html">صفحه اصلی</a>
      <a class="header_nav" href="">باشگاه ها</a>
      <a class="header_nav" href="">مربی ها</a>
    </div>
    <div>
      <a class="header_nav profile" href="">پروفایل</a>
    </div>
  </div>
</header>

<body>
  <main class="content">
    <div class="title">
      <h2>مربی‌ها</h2>
      <p>لیست مربی‌های ورزش‌یار </p>
    </div>
    <hr>
    <section class="trainers-informations">
      <div id="filter">
        <button class="btn" onclick="filterSelection('all')">همه</button>
        <button class="btn" onclick="filterSelection('bodybuilding')">بدنسازی</button>
        <button class="btn" onclick="filterSelection('martial')">رزمی</button>
        <button class="btn" onclick="filterSelection('team')">گروهی</button>
        <button class="btn" onclick="filterSelection('movement')">حرکتی</button>
      </div>

      <div class="container">
        <div class="filterDiv movement">
          <span class="trainer-description ">
            <div>
              <div class="trainer-name">
                <img src="../../static/gym/svg/profile2.png">
                <h3 class="trainer-name">محدثه عبدی</h3>
              </div>
              <div class="trainer-bio">
                <span>
                  <h4>رشته‌های ورزشی: </h4>
                  <h4>یوگا</h4>
                </span>
                <span>
                  <h4>استان: </h4>
                  <h4>تهران</h4>
                </span>
                <span>
                  <h4>توضیحات:</h4>
                  <p>مربی بین‌المللی وینیاسایوگا، مربی یوگا، حرکات انعطافی و قدرتی</p>
                </span>
              </div>
            </div>
            <div class="program">
              <button>اطلاعات تماس</button>
            </div>
          </span>
        </div>
        <div class="filterDiv bodybuilding">
          <span class="trainer-description">
            <div>
              <div class="trainer-name">
                <img src="../../static/gym/svg/profile1.png">
                <h3 class="trainer-name">داود جلیل پور</h3>
              </div>
              <div class="trainer-bio">
                <span>
                  <h4>رشته‌های ورزشی: </h4>
                  <h4>بدنسازی</h4>
                </span>
                <span>
                  <h4>استان: </h4>
                  <h4>تهران</h4>
                </span>
                <span>
                  <h4>توضیحات:</h4>
                  <p>مربی دوومیدانی و درجه 3 بدنسازی فوتبال در تهران</p>
                </span>
              </div>
            </div>
            <div class="program">
              <button>اطلاعات تماس</button>
            </div>
          </span>
          <span class="trainer-description">
            <div>
              <div class="trainer-name">
                <img src="../../static/gym/svg/profile2.png">
                <h3 class="trainer-name">آیسودا اسفندیاری</h3>
              </div>
              <div class="trainer-bio">
                <span>
                  <h4>رشته‌های ورزشی: </h4>
                  <h4>بدنسازی، تی آرایکس، فیتنس، سی ایکس</h4>
                </span>
                <span>
                  <h4>استان: </h4>
                  <h4>اصفخان</h4>
                </span>
                <span>
                  <h4>توضیحات:</h4>
                  <p>دانشجوی ارشد تربیت بدنی در ایتالیا</p>
                </span>
              </div>
            </div>
            <div class="program">
              <button>اطلاعات تماس</button>
            </div>
          </span>
        </div>
        <div class="filterDiv martial">
          <span class="trainer-description">
            <div>
              <div class="trainer-name">
                <img src="../../static/gym/svg/profile3.png">
                <h3 class="trainer-name">حسین مشرفی</h3>
              </div>
              <div class="trainer-bio">
                <span>
                  <h4>رشته‌های ورزشی: </h4>
                  <h4>کاراته</h4>
                </span>
                <span>
                  <h4>استان: </h4>
                  <h4>تهران</h4>
                </span>
                <span>
                  <h4>توضیحات:</h4>
                  <p>مدرک مربی‌گری درجه 3 کاراته</p>
                </span>
              </div>
            </div>
            <div class="program">
              <button>اطلاعات تماس</button>
            </div>
          </span>
        </div>
        <div class="filterDiv team">
          <span class="trainer-description">
            <div>
              <div class="trainer-name">
                <img src="../../static/gym/svg/profile1.png">
                <h3 class="trainer-name">احمد نعیمی</h3>
              </div>
              <div class="trainer-bio">
                <span>
                  <h4>رشته‌های ورزشی: </h4>
                  <h4>والیبال</h4>
                </span>
                <span>
                  <h4>استان: </h4>
                  <h4>تهران</h4>
                </span>
                <span>
                  <h4>توضیحات:</h4>
                  <p>مدرک بین‌المللی سطح 2 والیبال<< /p>
                </span>
              </div>
            </div>
            <div class="program">
              <button>اطلاعات تماس</button>
            </div>
          </span>
        </div>
      </div>
    </section>
  </main>
</body>
<footer>
  <h4>ارتباط با ما</h4>
  <h4>پشتیبانی</h4>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
</footer>

</html>